@page "/"

<div class="rz-p-12">
    <RadzenText TextStyle="TextStyle.H4" TagName="TagName.P">
        OAuth profile to scopes mapping utility
    </RadzenText>

    <RadzenText TextStyle="TextStyle.Body1" TextAlign="TextAlign.Left">
        The Scope administration utility is meant to show how a scope profile to scope spec can be
        managed through a UI and then subsequently exposed through a scope API.
    </RadzenText>
    <br>
    <RadzenText TextStyle="TextStyle.Body1" TextAlign="TextAlign.Left">
        <strong>Scope API Project</strong>
    </RadzenText>
    <RadzenText TextStyle="TextStyle.Body1" TextAlign="TextAlign.Left">
        The companion scope api project is located here
    </RadzenText>
    <RadzenLink Path="buttons" Text="scope.api project" />
</div>